.container {
	max-width: 1080px;
	@media all and (max-width: 1080px) {
		padding: 0 2em;
	}
} 

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

.fadein{opacity:0;}
.in-viewport{opacity:1.0;}

.site-main {
	background: #fff;   
}

#scene, #fade-in-4s, #fade-in-6s {opacity:0;}

.animation-fade-in {
	-moz-animation: fadeInAnimation ease 1s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
	-webkit-animation: fadeInAnimation ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
	animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@-webkit-keyframes fadeInAnimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes fadeInAnimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-ms-keyframes fadeInAnimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeInAnimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-in-4s {
	-moz-animation: fadeIn4s ease 2s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
	-webkit-animation: fadeIn4s ease 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
	animation: fadeIn4s ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@-webkit-keyframes fadeIn4s {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes fadeIn4s {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-ms-keyframes fadeIn4s {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn4s {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-in-6s {
	-moz-animation: fadeIn4s ease 4s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
	-webkit-animation: fadeIn4s ease 4s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
	animation: fadeIn4s ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@-webkit-keyframes fadeIn6s {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes fadeIn6s {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-ms-keyframes fadeIn6s {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn6s {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.to-fade-in {
  opacity: 0;
  &.fade-in {
	-moz-animation: fade-in 1s forwards;
	-webkit-animation: fade-in 1s forwards;
    animation: fade-in 1s forwards;
  }
 	@media all and (max-width: 900px) {
		opacity: 100;
	}
}

@-webkit-keyframes fade-in {
  0% {opacity: 0; }
  100% {opacity: 1;}
}
@-moz-keyframes fade-in { 
  0% {opacity: 0; }
  100% {opacity: 1;}
}
@-ms-keyframes fade-in {
  0% {opacity: 0; }
  100% {opacity: 1;}
}
@keyframes fade-in {
  0% {opacity: 0; }
  100% {opacity: 1;}
}

.page-content {padding: 1em 0;}

.content-404 {
    text-align: center;
    p{font-size: 1.4em;}
    .search-form {
        font-size: 1.2em;
    }
}

.entry-header {
	margin: 3em 0 2em;
    @media all and (max-width: 400px) {
        margin: 0;
    }
}


.site-footer {
    
}

.footer {
    background: rgba(68, 29, 29, .5);
    color: $color__light-gray;
    padding: 2em 0;
    text-align: center;
    font-size: .9em;
    p {margin:0;}
    a {
        color: $color__light-gray;
        &:active, &:visited {color: $color__light-gray;}
        &:hover {
            color: $color__light-coral;
            border: 0;
        }
    }
    h2 {
        font-size: 1.2em;
        color: $color__off-white;
        text-transform: uppercase;
        font-weight: 800;
		letter-spacing: 1px;
    }
	h3 {
		font-size: 1.2em;
		color: $color__coral;
		
	}
    .btn-primary {
        margin-top: 1em; border: 1px solid;
    }
	.d-flex {
		@media all and (max-width: 400px) {
			flex-direction: column;
			align-content: center;
			justify-content: center;
			align-items: center;
		}
	}
}

.award, .quick-links, .social, .sponsored-by {
	padding-left: .5em;
	padding-right: .5em;
}

.award {
	background: rgba(0,0,0,0.30);
	padding: 1em;
	img {
		display: inline-block;
		margin-top: .5em;
		max-width: 100px;
	}
	strong {
		color: white;
	}
	.div2021 {
		margin-right: 1.5em;
	}
	.div2022 {
		h3 {margin-bottom: 0;}
		margin-left: 1.5em;
		text-align: left;
		img {
			height: auto;
			width: 100%;
			max-width: 200px !important;
		}
	}
}	

.quick-links {
    text-align: left;
    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        li {
			margin-left: 1em;
            &:before {
            	font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f105";
                margin-right: .25em;
				margin-left: -1em;
				color: $color__light-gray !important;
            }
        }
    }
	@media all and (max-width: 400px) {margin-top: 1em;}
}

.social {
	@media all and (max-width: 400px) {margin-top: 1em;}
}

.copyright {
    padding: 2em 0;
    text-align: center;
    font-size: .75em;
    color: $color__med-gray;
}