#page {
	overflow: hidden;   
}
.container {
	max-width: 1200px;
	@media all and (max-width: 1080px) {  
		padding: 0 1em;
	}
} 
   
.header-secondary {
	background-image:url("img/ws-website-graphics_spotlights.svg"); 
	background-repeat:no-repeat;
	background-size: 130% auto;
	background-position:center top;
	position: relative;
	min-height:550px;
	///margin-top: 1em;
	margin-bottom:0;
	text-align:center;
	padding: 0;
	@media all and (max-width: 991px) and (orientation:portrait)  {	  
		min-height: 350px;
	}	
	.spotlight {
		width:125%;
	}
	h1 {
		display:block;
		position: relative; 
		top:200px;
		font-size: 5em;
		-webkit-animation: bounceInDown;
		animation: bounceInDown; 
		-webkit-animation-duration: 1s; 
		animation-duration: 1s; 
		@media all and (max-width: 991px) and (orientation:portrait)  {	
			font-size: 3em;
			//top: 200px;
		}	
		@media all and (max-width: 991px) {
			top: 150px;
		}		
}
	.kids {
		position:relative;
		top:0;
		width:70%;
	}	
}
.content-page-center {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
.call-to-action {  
	position: relative;
	display:block;
	max-width: 800px;
	min-width: 600px;
	z-index: 1000;
	margin: 0 3em -5em 3em;
	background: $color__navy;
	padding: 1em 3em;
	text-align: center;
	border: 20px solid $color__bright-red;
	border-image-source:url('img/ws-website-graphics_bulb.svg');  
	border-image-slice: 25;
	border-image-width: 20px;
	border-image-repeat: round;
	@media all and (max-width: 800px) {
		min-width: unset;
	}
	h2 {
		color: $color__light-cyan;
		margin-bottom: .5em;
		margin-top: 0;
	}
	p {
		margin-bottom: 0;
		color: white;
		font-family: $font__main;
		font-size: 1.2em;
	}
	.btn {
		margin-top: 1em; 
		padding: .25em 1em;
	}
}
.entry-content {
	overflow: hidden;
	position: relative;
	z-index: 0;
	background: white;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	  --mask: radial-gradient(20px at 20px 20px,#0000 98%,#000) -20px -20px;
	  -webkit-mask: var(--mask);
			  mask: var(--mask);
	padding: 2em;
	margin-bottom: 3em;
	@media all and (max-width: 991px) and (orientation:portrait){
		margin: 0 0 2em 0 ;
		padding: 1em;
	}	
	a {
		display:inline-block;
		&:hover {
			-webkit-animation: pulse !important;
			animation: pulse !important; 
			-webkit-animation-duration: 1s !important; 
			animation-duration: 1s !important; 
			border: none;
		}		
	}
}
.cta-padding {padding-top:8em;}
.footer {
	margin-top: 0;
    background: -webkit-linear-gradient(#203332 0%, #132625 40%, #132625 60%, #203332 100%);
    background: -o-linear-gradient(#203332 0%, #132625 40%, #132625 60%, #203332 100%);
    background: linear-gradient(#203332 0%, #132625 40%, #132625 60%, #203332 100%);  
    color: $color__light-gray;
    padding: 2em 0;
    text-align: center;
    font-size: .7em;  
    p {margin:0;}
    a {
        color: $color__exlight-teal;
        &:active, &:visited {color: $color__exlight-teal;}
        &:hover {
            color: $color__light-teal;
            border: 0;
        }
    }
    h2 {
        font-size: 1.2em;
        color: white;
        text-transform: uppercase;
        font-weight: 800;
		letter-spacing: 1px;
    }
	h3 {
		font-size: 1.2em;
		color: $color__gold;
		
	}
    .btn-primary {
        margin-top: 1em; border: 1px solid;
    }
	.d-flex {
		@media all and (max-width: 600px) {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-ms-flex-line-pack: center;
			    align-content: center;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
		}
	}
}

.award, .quick-links, .social, .sponsored-by {
	padding-left: .5em;
	padding-right: .5em;
}

.award {
	background: #132625;
	  --mask: radial-gradient(15px at 15px 15px,#0000 98%,#000) -15px -15px;
	  -webkit-mask: var(--mask);
			  mask: var(--mask);	
	padding: 1em;
	img {
		display: inline-block;
		margin-top: .5em;
		max-width: 100px;
	}
	strong {
		color: $color__light-cyan;
	}
	.div2021 {
		margin-right: 1.5em;
		@media all and (max-width: 600px) {
			margin-right: 0;
		}		
	}
	.div2022 {
		h3 {
			margin-bottom: 0;
			@media all and (max-width: 600px) {
				text-align: center;
			}			
		}
		//margin-left: 1.5em;
		text-align: left;
		img {
			height: auto;
			width: 100%;
			max-width: 200px !important;
		}
		@media all and (max-width: 600px) {
			margin-left: 0;
		}
	}
	.div2024 {
		margin-left: 1.5em;
		img {
			width: 100%;
			max-width: 200px;
		}
		@media all and (max-width: 600px) {
			margin-left: 0;
		}		
	}	
}	

.quick-links {
    text-align: left;
    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        li {
			margin-left: 1em;
            &:before {
            	font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f105";
                margin-right: .25em;
				margin-left: -1em;
				color: $color__exlight-teal !important;
            }
        }
    }
	@media all and (max-width: 600px) {margin-top: 1em;}
}

.social {
	@media all and (max-width: 400px) {margin-top: 1em;}
}

.copyright {
    padding: 2em 0;
    text-align: center;
    font-size: .75em;
    color: $color__light-teal;
	background: #131313;
}

.shaddow
{
  position: relative;
}
.shaddow:before, .shaddow:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: black;
  -webkit-box-shadow: 0 15px 10px black;
  -moz-box-shadow: 0 15px 10px black;
  box-shadow: 0 15px 10px black;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.shaddow:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}