#page {
	overflow: hidden;   
}
.container {
	max-width: 1200px;
	@media all and (max-width: 1080px) {  
		padding: 0 1em;
	}
} 
.clouds {
	background-image:url("img/ws26website_clouds.svg"); 
	background-repeat:no-repeat;
	background-size: 130% auto;
	background-position:center top;
	background-attachment: fixed;
}
.header-secondary {
	position: relative;
	margin-bottom:8em;
	text-align:center;
	padding: 0;
	@media all and (max-width: 991px) and (orientation:portrait)  {	  
		min-height: 350px;
	}	
	.spotlight {
		width:125%;
	}
	h1 {
		display:block;
		position: relative; 
		font-size: 5em;
		-webkit-animation: bounceInDown;
		animation: bounceInDown; 
		-webkit-animation-duration: 1s; 
		animation-duration: 1s; 
		@media all and (max-width: 991px) and (orientation:portrait)  {	
			font-size: 3em;
			//top: 200px;
		}	
		@media all and (max-width: 991px) {
			top: 150px;
		}		
	}
}
.content-bg {
	position: relative;
	background: white;
		padding: 0 1em;	
		&:before {
			content: "";
			display: inline-block;
			width: 100%;
			height: 100px;
			position: absolute;
			left: 0;
			top: -100px;
			background-image: url('img/ws26website_top_box.svg');
			background-size:cover; 
			background-repeat: no-repeat;
		}
		&:after {
			content: "";
			display: inline-block;
			width: 100%;
			height: 100px;
			position: absolute;
			left: 0;
			bottom: -100px;
			background-image: url('img/ws26website_bottom_box.svg');
			background-size: contain; 
			background-repeat: no-repeat;
		}		
}
.content-page-center {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 10em;
}

.text-align-left {text-align:left;}

//.cta-padding {padding-top: 5em !important;}  

.balloon-line {
	z-index: 1000;
	position: absolute;
	right: 3%;
	top: 150px;
	width: 200px;
	height: auto;
}

.call-to-action {  
	max-width: 1000px;
	position: relative;
	top: -2em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;  
	z-index: 1000;
	margin: -100px 3em 0 3em;
	background: $color__dark-teal;
	border-radius: 9999px;
	padding: 1em 3em;
	margin-bottom: 2em;
	text-align: center;
	@media all and (max-width: 800px) {
		min-width: unset;
	}
	h2 {
		font-size: 1.4em;
		color: $color__gold;
		margin-bottom: 0;
		margin-top: 0;
	}
	p {
		margin-bottom: 0;
		color: white;
		font-family: $font__main;
		font-size: 1.2em;
	}
	.btn {
		padding: .25em 1em;
		margin-left: 2em;
		font-size: 1em;
	}
}
.entry-content {
	overflow: hidden;
	position: relative;
	z-index: 0;
	background: white;
	padding: 2em;
	margin-bottom: 3em;
	@media all and (max-width: 991px) and (orientation:portrait){
		margin: 0 0 2em 0 ;
		padding: 1em;
	}	
	a {
		display:inline-block;
		&:hover {
			-webkit-animation: pulse !important;
			animation: pulse !important; 
			-webkit-animation-duration: 1s !important; 
			animation-duration: 1s !important; 
			border: none;
		}		
	}
}

.footer {
	margin-top: 0;
    background: $color__navy;  
    color: $color__off-white;
    padding: 2em 0;
    text-align: center;
    font-size: .7em;  
    p {margin:0;}
    a {
        color: $color__off-white;
        &:active, &:visited {color: $color__off-white;}
        &:hover {
            color: $color__gold;
            border: 0;
        }
    }
    h2 {
        font-size: 1.2em;
        color: white;
        text-transform: uppercase;
        font-weight: 800;
		letter-spacing: 1px;
    }
	h3 {
		font-size: 1.2em;
		color: $color__gold;
		
	}
	&:before {
		z-index: -999;
		position: relative;
		left: 0;
		top: -375px;
		margin-bottom: -375px;
		content: url('img/ws26website_bottom_clouds.svg');
	}
    .btn-primary {
        margin-top: 1em;
    }
	.d-flex {
		@media all and (max-width: 600px) {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-ms-flex-line-pack: center;
			    align-content: center;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
		}
	}
}

.award, .quick-links, .social, .sponsored-by {
	padding-left: .5em;
	padding-right: .5em;
}

.award {
	background:rgba(0,0,0,0.25);
	border-radius: 9999px;
	padding: 1em 5em 2em 5em;
	img {
		display: inline-block;
		margin-top: .5em;
		max-width: 100px;
	}
	strong {
		color: $color__light-cyan;
	}
	.div2021 {
		margin-right: 1.5em;
		@media all and (max-width: 600px) {
			margin-right: 0;
		}		
	}
	.div2022 {
		h3 {
			margin-bottom: 0;
			@media all and (max-width: 600px) {
				text-align: center;
			}			
		}
		//margin-left: 1.5em;
		text-align: left;
		img {
			height: auto;
			width: 100%;
			max-width: 200px !important;
		}
		@media all and (max-width: 600px) {
			margin-left: 0;
		}
	}
	.div2024 {
		margin-left: 1.5em;
		img {
			width: 100%;
			max-width: 200px;
		}
		@media all and (max-width: 600px) {
			margin-left: 0;
		}		
	}	
}	

.quick-links {
    text-align: left;
    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        li {
			margin-left: 1em;
            &:before {
            	font-family: $font__icons; font-weight: 900; content: "\f124";     
                margin-right: .25em;
				margin-left: -1.5em;
				color: $color__exlight-teal !important;
            }
        }
    }
	@media all and (max-width: 600px) {margin-top: 1em;}
}

.social {
	@media all and (max-width: 400px) {margin-top: 1em;}
}

.copyright {
    padding: 2em 0;
    text-align: center;
    font-size: .75em;
    color: $color__light-teal;
}

.shaddow
{
  position: relative;
}
.shaddow:before, .shaddow:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: black;
  -webkit-box-shadow: 0 15px 10px black;
  -moz-box-shadow: 0 15px 10px black;
  box-shadow: 0 15px 10px black;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.shaddow:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}