//--------------------------------------------------
.container-homepage  {
	margin: 0 auto;
	max-width: 1200px;
	@media all and (max-width: 1200px) {
		margin: 0 2em;
	}
}

.ticket, .call-to-action, .kids, .spotlight, .bottom-spotlight {
	@media all and (max-width: 600px) and (orientation:portrait) {
		animation:disabled !important;
	}
}
.hero {
	height: 100vh;
	overflow: hidden;
	position: relative;

	@media all and (orientation:portrait) {
		//height: 60vh;
	}
	@media all and (max-width: 600px) {
		//height:600px !important;
	}	
	
	.banner {
		margin: 0 2em;
		.mobile {
			display: none;
		}
		@media all and (orientation:portrait) {
			.desktop{display: none;}
			.mobile{display: block;}
		}
	}

	.call-to-action-home {
		z-index: 0;
		max-width: 800px;
		min-width: 600px;
		position: relative;
		top: 25%;		
		display: flex;
		justify-content: space-around;
		align-items: center;
		position: absolute;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		background-color: rgba(0,67,106,0.95);
		border: none !important;
		border-radius: 9999px;
		padding: 1em 2em;
		font-size: .8em;
		-webkit-animation: bounceInUp;
		animation: bounceInUp; 
		-webkit-animation-duration: 2s; 
		animation-duration: 2s; 
		h2 {
			font-weight: 700;
			font-size: 1.4em;
			text-transform: none;
			letter-spacing: normal;
			color: $color__lime-green;
			margin-top: 0;
			margin-bottom:.5em;
		}
		p {
			margin-bottom: 0;
			color: white;
			font-family: $font__main;
			font-size: 1.2em;
		}
		.call-to-action-text {
			width:100%;
			margin: auto 2em;
		}
		.btn-center {
			width:100%;
			display:flex;
			justify-content:center;
		}	
		.btn {
			margin:auto 1em;	
		}
		@media all and (orientation:portrait) {
			//font-size: .8em;
			flex-direction: column;
			display: relative;
			bottom: unset;
			min-width:unset;
			padding: 1em 4em;
			//border-radius: 2em;
			margin: 1em !important;	
			.text-align-left {text-align: center;}
			.btn {margin: 1em 0 0 0;}
					
			//bottom: 0;
		}	
		@media all and (max-width: 600px) {
			//position: absolute;
			//top: 50%;

		}			
	}
	.call-to-action-position {
		z-index: 0;
		height: 100vh;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
    	-webkit-box-pack: center;
    	    -ms-flex-pack: center;
    	        justify-content: center;
		@media all and (max-width: 600px) {
			height: 300px !important;
		}			
	}
	
	.scroll-down {
		z-index: 100;
		cursor:pointer;
		position: absolute;
		bottom: 40%;
		left: 15%;
		width: 50px;
		height: auto;
		-webkit-animation: bounceInDown;
		animation: bounceInDown; 
		-webkit-animation-duration: 2s;  
		animation-duration: 2s; 
		animation-delay: 2s;
		a, a:focus, a:hover, a:active {
			border:none;
			outline:none;
		}

		@media all and (max-width: 991px) {
			left: auto;
			bottom: 12%;
		}	
		@media all and (max-width: 991px) and (orientation:portrait) {
			left: auto;
			bottom: 17%;
		}	
		@media all and (max-width: 600px) {
			display: none;
		}	
		@media all and (orientation:portrait) {
			display: none;
		}
	}
	@-webkit-keyframes scroll-ticket {
	  from {opacity: 0.0;}
	  to {opacity: 0.1;}
	}
	.ticket-fade{
		-webkit-animation-name: scroll-ticket;
		-webkit-animation-duration: 2.5s;
		-webkit-animation-timing-function:ease-in;
	}	
	
	.ticket {
		position: absolute;
		bottom: 40%;
		left: 15%;
		width: 300px;
		height: auto;
		animation: ticket 1s normal forwards ease-in-out;
		animation-delay: 3s;
		opacity: 0;
		img {
			width:300px;
		}
		@media all and (max-width: 991px) {
			right: 10%;
			left: auto;
			top: 30%;
			width: 200px;
		}	
	
		@media all and (max-width: 600px) {
			position: absolute;
			width: 150px;
			right: 10%;
			top: 25%;
			opacity: 1;
		}	
	}	
	@keyframes ticket {
	  0% {
		transform: translate(0, -1000px);
	  }

	  100% {
		opacity: 1;
		transform: translate(0, 0);
	  }
	}	

}
	
.spotlight {
	z-index: 100;
	width: 100%;
	height: auto;
	position:relative;
	-webkit-animation: bounceInDown;
	animation: bounceInDown; 
	-webkit-animation-duration: 1s; 
	animation-duration: 1s; 
	img {
		width: 100%;
		height: auto;
		position:relative;
	}
}
.kids {
	z-index: 0;
	position: relative !important;
	bottom: -5%;
	width: 100%;
	height: auto;
	position:relative;
	-webkit-animation: bounceInLeft;
	animation: bounceInLeft; 
	-webkit-animation-duration: 3s; 
	animation-duration: 3s; 
}
.bottom-spotlight {
	z-index: 0;
	position: relative !important;
	bottom: 15%;
	width: 100%;
	height: auto;
	position:relative;
	-webkit-animation: bounceInUp;
	animation: bounceInUp; 
	-webkit-animation-duration: 5s; 
	animation-duration: 5s; 
	@media all and (max-width: 600px) {
		position: absolute;
		top: -5;
	}	
	@media all and (orientation:portrait) {
		position: absolute;
		bottom: auto;
	}	
}
.entry-content-home {
	position: relative;
	z-index: 0;
	color: white;
	margin-bottom: 3em;
	@media all and (max-width: 991px) and (orientation:portrait){
		//margin: 0 1em 1em 1em;;
	}
	h2 {
		color: $color__lime-green;
	}
	a {
		display:inline-block;
		&:hover {
			-webkit-animation: pulse !important;
			animation: pulse !important; 
			-webkit-animation-duration: 1s !important; 
			animation-duration: 1s !important; 
			border: none;
		}		
	}
}


.landing-message{
	color: white;
	font-family: $font__main;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
    border: 0; 
	margin:0;
}
.icons {
	margin-bottom: 4em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 1.5em;
	font-family: $font__main;
	@media all and (max-width: 800px) {
		font-size: .8em;
		flex-wrap:wrap;
	}	
	a {
		border: 0;
		&:hover {
			border: 0;
			opacity: 100;
		}
		p {
			color: white;
		}
	}
	figure {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		width: 45%;
		margin: .5em 0;
		padding: 1em 2em 1em 1em;
		background-color: $color__blue;  
		border-radius: 9999px;
		&:hover {
			-webkit-animation: pulse;
			        animation: pulse; 
  			-webkit-animation-duration: 1s; 
  			        animation-duration: 1s; 
		}
		@media all and (max-width: 1000px) {
			width: 100%;
			padding-right: 2em;
		}	
	}
	p {
		//font-size: 1em;
		margin-left: 63px;
		color: white;
		font-weight: 200;
		margin-bottom: 0;
		margin-left: 140px;
		line-height: 1.25em;
		@media all and (max-width: 1000px) {
			margin-left: 80px;
		}					
	}
	img {
		width: 100px;
		height: auto;
		float: left;
		margin-right: 1em;
		margin-left:1em;
		@media all and (max-width: 1000px) {
			width: 50px;
		}			
	}
	figcaption {
		//margin-top:.5em;
		font-weight: 700;
		margin-bottom: .5em;
		margin-left: 140px;
		font-family: $font__main; 
		color: $color__lime-green;
		text-transform: uppercase;
		letter-spacing: 0;
		//font-size: 1.4em;
		line-height: 1.1em;
		@media all and (max-width: 1000px) {
			margin-left: 80px;
		}			
	}
}

.video-bg {
	position: relative;
	background: white;
		padding: 0 1em;	
		&:before {
			content: "";
			display: inline-block;
			width: 100%;
			height: 100px;
			position: absolute;
			left: 0;
			top: -75px;
			background-image: url('img/ws26website_top_box.svg');
			background-size:contain; 
			background-repeat: no-repeat;
		}
		&:after {
			content: "";
			display: inline-block;
			width: 100%;
			height: 100px;
			position: absolute;
			left: 0;
			bottom: -100px;
			background-image: url('img/ws26website_bottom_box.svg');
			background-size: contain; 
			background-repeat: no-repeat;
		}		
}
.homepage-video {
	position: relative;
	overflow:visible;
	padding: 6em;
	background: $color__light-blue;
	background-image:url("img/ws26website_compass.svg"); 
	background-size: 150%;
	background-position: -500px bottom;
	background-repeat:no-repeat;
	margin-bottom:2em;
	color: white;
	&:before {
		content: "";
		display: inline-block;
		z-index: -999;
		width: 100vw;
		height: 800px;
		position: absolute;
		left: 0;
		top: -270px;
		background-image: url('img/ws26website_bottom_clouds.svg');
		background-size: contain; 
  		background-repeat: no-repeat;
	}
	h2 {
		color: $color__lime-green;
		font-weight: 700;
		text-transform: none;
		letter-spacing: 0;
		margin-bottom: 0;
	}
	p{font-size: 1.2em;}
	@media all and (max-width: 600px) {
		padding: 5em 2em 2em 2em;
		margin-top: -70px;
	}
	
	.video-description {
		padding-left: 2em;
		p {
			@media all and (max-width: 600px) {
				font-size: 1em;
			}
		}
		@media all and (max-width: 600px) {
			padding-left: 1em;
		}
	}
	.video-container {
		 position: relative;
		 overflow: hidden;
		 width: 100%;
		 padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
	}	
	iframe {
		position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    width: 100%;
	    height: 100%;
	}	
}
canvas {
    padding-right: 3em;
}