body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

table {
	font-family: $font__condensed;
	font-size: 1.2em;
	line-height: 1.2em;
}

@import "headings";

@import "copy";