// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem; 
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto; 
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

//Box Shadow
@mixin box-shadow($x-axis: 10px, $y-axis: 10px, $blur: 0, $color: $default) {
  -webkit-box-shadow: $x-axis $y-axis $blur $color;
          box-shadow: $x-axis $y-axis $blur $color;
}

//Gradients
$gold-gradient: $color__gold 0%, $color__light-gold 50%, $color__gold 100%;
$gold-btn: $color__gold 0%, $color__light-gold 50%, $color__gold 100%;
@mixin gradient($direction, $gold-gradient) { 
  background: -webkit-linear-gradient($direction, $gold-gradient);
  background: -moz-linear-gradient($direction, $gold-gradient);
  background: -o-linear-gradient($direction, $gold-gradient);
  background: linear-gradient($direction, $gold-gradient);  
}


