/**
 * Theme: Workshop 
 * Editor styles for TinyMCE
*/

@import url("https://use.typekit.net/xch3nho.css");
/* Set global width for all Gutenberg blocks - this should be the same as your article width */
 .wp-block {
   /*max-width: 640px;*/
 }

/* Main typography elements */

/* Condensed font for headers */
.editor-block-list__layout .editor-block-list__block, 
.editor-post-title__block .editor-post-title__input,
h1.wp-block.wp-block-post-title.block-editor-block-list__block.editor-post-title.editor-post-title__input.rich-text,
h1.rich-text.block-editor-rich-text__editable,
h2.rich-text.block-editor-rich-text__editable,
h3.rich-text.block-editor-rich-text__editable,
h4.rich-text.block-editor-rich-text__editable,
h5.rich-text.block-editor-rich-text__editable,
h6.rich-text.block-editor-rich-text__editable,
.has-medium-font-size,
#post-title-0 {
  font-family: 'gin', 'serif';
	margin: .5em auto;
}
h1.wp-block.wp-block-post-title.block-editor-block-list__block.editor-post-title.editor-post-title__input.rich-text {
	font-family: 'gin', 'serif';
	font-size: 3em;
    font-style: normal;
    color: #cda349;
	letter-spacing: 1px;

}
h2.rich-text.block-editor-rich-text__editable {
	font-family: 'gin', 'serif';
	color: #7f1416;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h3.rich-text.block-editor-rich-text__editable {
	color: #4a0000;
}

h3.rich-text.block-editor-rich-text__editable, h2.rich-text.block-editor-rich-text__editable {
    margin-top: 0 !important;
}

h4.rich-text.block-editor-rich-text__editable {
	color: #4a0000;
}

h5.rich-text.block-editor-rich-text__editable {
	font-family: 'acumin-pro-semi-condensed', sans-serif;
	font-weight: 700;
}
	

/* Regular font for body text */
.editor-block-list__layout .editor-block-list__block p,
.rich-text.block-editor-rich-text__editable.wp-block-paragraph,
.block-editor-block-list__layout.is-root-container,
ul,
ol {
 	font-family: 'acumin-pro-semi-condensed', sans-serif;
	color: #404040;
	font-size: 1rem;
    line-height: 1.5;
}
ul {list-style-type:none;}
ul li:before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #81c2b3;
    content: '\f138';
    position: absolute;
    margin-left: -20px;
    padding-top: 0.25em;
    font-size: .8em;
}
ul ul li:before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #81c2b3;
    content: '\f054';
    position: absolute;
    margin-left: -20px;
}

table {
	font-family: 'acumin-pro-semi-condensed', sans-serif;
	font-size: 1.2rem;
	line-height: 1.2rem;
}

/* Monospace font for code */
pre, code, kbd, tt, var {
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

/* Format post images */
.wp-block-image img {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;*/
}

/* Format image captions */
.wp-block-image figcaption,
figcaption {
	margin-top: 0;
	color: #666;
	font-size: 0.9rem;
	text-align: center;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h2.rich-text.block-editor-rich-text__editable {
	margin-top: 2em;
	font-size: 1.75em;
}

h3.rich-text.block-editor-rich-text__editable {
  margin-top: 2em;
	font-size: 1.5em;
}

h4.rich-text.block-editor-rich-text__editable {
	font-size: 1.3em;
}

h5.rich-text.block-editor-rich-text__editable {
	font-size: 1.1em;
}

h6.rich-text.block-editor-rich-text__editable {
	font-size: 1em;
}

p.rich-text.block-editor-rich-text__editable {
	font-size: 1.15em;
}

/* Format code blocks */
pre {
	background: #f3f3f3;
	border-radius: 4px;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
	white-space: pre-wrap;
	max-height: 650px;
}

/* Format inline code blocks */
code, kbd, tt, var {
	background: #f3f3f3;
	padding: 2px 7px 2px 7px;
	border-radius: 4px;
}

/* Format blockquotes */
.wp-block-quote {
	margin-left: 2em;
	margin-bottom: 2rem;
	margin-top: 2rem;
	padding: .4rem .8rem;
	border-left: .35rem solid #1565C0;
	color: #666;
	font-style: italic;
}

/* Format the cite text in blockquotes */
dfn, cite, i {
	font-style: italic;
	font-size: 0.8em;
}

/* Links & buttons */

a,
a:visited,
article a,
p.feature-credit a,
p.feature-credit a:visited,
.menu-items a {
	color: #007382;
  text-decoration: none;
}

a:hover,
a:focus,
a:active,
article a:hover,
article a:focus,
article a:active,
p.feature-credit a:hover,
p.feature-credit a:active,
.menu-items a:hover,
.menu-items a:active {
	text-decoration: underline;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/* Standard WordPress button block */
.rich-text.block-editor-rich-text__editable.wp-block-button__link,
.rich-text.block-editor-rich-text__editable.wp-block-button__link:visited {
  font-family: "gin", serif;
  text-transform: uppercase;
  border: none;
  border-radius: 0 !important;
  background: #7f1416;
  color: white !important;
  font-size: 1em;
  line-height: 1;
  padding: .5em 1em !important; 
  margin: 0 .25em;
}

.rich-text.block-editor-rich-text__editable.wp-block-button__link:hover,
.rich-text.block-editor-rich-text__editable.wp-block-button__link:focus,
.rich-text.block-editor-rich-text__editable.wp-block-button__link:active {
  font-family: "pf-videotext", sans-serif;
  text-transform: uppercase;
  border: none;
  border-radius: 0 !important;
  background: #7f1416;
  color: white !important;
  font-size: 1em;
  line-height: 1;
  padding: .5em 1em !important; 
  margin: 0 .25em;
}

.is-style-outline .rich-text.block-editor-rich-text__editable.wp-block-button__link  {
    border: 2px #7f1416 solid !important;
    color: #7f1416 !important;	
	background: transparent !important;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

thead, th {
	color: #06303f;
	text-align: left;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 3px solid #e2c675 !important;
	border-top: 0;
}

tr {
	border-bottom: 2px solid #e2c675;
}

td {
	font-size: .8em;
	line-height: 1.2em;
}

td, th {
	padding: .5em;
	border-left: 0;
	border-right: 0;
}

.wp-block-table figcaption {
	text-align: center;
	color: #808080;
	font-size: .8em;
}

.wp-block-table td, .wp-block-table th {
    border: 0;
    padding: .5em;
}

.wp-block-quote {
	margin-left: auto;
	border-left: solid 3px #f29161;
	color: #808080;
    font-style: italic;
}

.wp-block-button__link {
  font-family: "gin", serif;
  text-transform: uppercase;
  border: none;
  border-radius: 0 !important;
  background: #7f1416;
  color: white !important;
  font-size: 1em;
  line-height: 1;
  padding: .5em 1em !important; 
  margin: 0 .25em;
}

hr {
  background-color: #7f1416;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}
.wp-block-separator {
	border-top: 0; 
	border-bottom: 0; 
}