ul, ol {
	margin: 0 0 1.5em 1em;
}

ul {
	list-style-type: none;
	li {
		line-height: 1.3 !important;
		margin: .5em 0 !important;
	}	
	li:before {
		font-family:$font__icons;
		font-weight: 900;
		color: $color__teal;
	  	content: '\f124';
	 	position: absolute;
	 	margin-left: -25px;
		padding-top: .25em;
		font-size: .8em;
	}
	ul {
		margin-left: 1em;
		list-style-type: none;
		li:before {
			font-family:$font__icons;
			font-weight: 900;
			color: $color__teal;
			content: '\f054';
			position: absolute;
			margin-left: -25px;
			}
			ul {
				margin-left: 1em;
				list-style-type: none;
				li:before {
					font-family:$font__icons;
					font-weight: 900;
				  content: '\f068';
				  position: absolute;
				  margin-left: -25px;
				}
			}
		}
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;  
}

dd {
	margin: 0 1.5em 1.5em;
}

ul.wp-block-list, ol.wp-block-list {
		margin-top:0 !important;
		margin-bottom:0 !important;
		padding-top:0 !important;
		padding-bottom:0 !important;
}    

.wp-block-columns.is-layout-flex.wp-container-core-columns-is-layout-1.wp-block-columns-is-layout-flex {
	@media all and (max-width: 768px) {
    	display: block !important;
	} 
}


.woocommerce {
	ul {
	list-style-type: none;
	li:before {
		display:none;
	}
	ul {
		margin-left: 1em;
		list-style-type: none;
		li:before {
			display:none;
			}
			ul {
				margin-left: 1em;
				list-style-type: none;
				li:before {
					display:none;
				}
			}
		}
}
}