//Theme colors
$color__navy: #02002A;
$color__dark-blue: #131246;
$color__blue: #00436A;
$color__light-blue: #2F77AC;
$color__dark-teal: #003a41;
$color__teal: #007382;
$color__light-teal: #65C8CE;
$color__lime-green: #DAE369;
$color__bright-red: #EC174C;
$color__light-red: #F06C71;
$color__off-white: #F8EFD7;       

$color__gold:#e2c675;
$color__light-gold:#fffacb; 
$color__dark-gold:#cda349;
$color__exlight-teal:#d3efed;
$color__light-mint: #dcfaf4;
$color__mint: #A5D78F;
$color__cyan: #27abb7; 
$color__light-cyan: #a7dbda;

$color__med-blue: #0055a7;
$color__blue-gray: #4d4d62;
$color__maroon: #300400;
$color__plum: #4f032f;
$color__dark-purple: #300437;
$color__purple: #6b59a6;
$color__light-coral: #F1B77F;  
$color__coral: #ffbf8b;
$color__dark-coral: #EF5C6A;
$color__dark-gray: #2B2F35;
$color__med-gray: #808080;
$color__gray: #B3B4B4;
$color__light-gray: #999999;
$color__lightest-gray: #cbd8d6;  
$color__rose: #9e005d;
$color__pink: #EC1B52; 
$color__light-pink: #F392BD;
$color__watermelon: #f05e8c;

$color__red: #7f1416;
$color__dark_red: #4a0000;
$color__orange: #e5952e;
$color__green: #009141;
$color__neon-green: #dbdf22;


//Misc 
$color__background-body: $color__dark-blue; 
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__gold;
$color__background-button-hover: $color__dark-gold;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__light-blue;
$color__link-visited: $color__blue;
$color__link-hover: $color__blue; 
$color__text-main: $color__navy;

$color__border-button: $color__bright-red;
$color__border-button-hover: $color__light-red;
$color__border-button-focus: $color__bright-red;
$color__border-input: $color__bright-red;
$color__border-abbr: $color__bright-red;  





