.navbar { 
	height: 100px;
	padding-top: 1.5rem;
    padding-bottom: 1.5rem;
	font-size: .9em;
    .container-fluid {
        @media all and (max-width: 1200px) {
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
        }
    }
	@media all and (max-width: 1200px) {
		padding-top: 1em;
		height: 75px;
	}
}

.custom-logo-link {
	max-width: 75px;
	margin-right: 2em;
	&:hover {
		-webkit-animation: pulse;
		        animation: pulse; 
		-webkit-animation-duration: 1s; 
		        animation-duration: 1s; 
	}	
}
@media all and (max-width: 1200px) {
	a.custom-logo-link {
		position: absolute;
		top: 0;
		height: 75px;
		height: 100%;
		display:flex;
		justify-content: center;
	}
}
.nav-link {
	padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.navbar-nav {
	flex-wrap: wrap;
	margin-left: 0;    
	li {
		&:before{ display: none; }
		&:hover {
			cursor: pointer;
		}
		a {
			-webkit-transition: color 0.6s ease-in-out;
			-o-transition: color 0.6s ease-in-out;
			transition: color 0.6s ease-in-out;		
			&:hover, &:active, &:focus {
				color: $color__lime-green;
				outline: none;
			}
		}
	}
	.menu-item {
		margin-top:0 !important;
		margin-bottom:0 !important;
		padding-top:0 !important;
		padding-bottom:0 !important;
	}	
	@media all and (max-width: 1200px) {
		width: 100%;
		li {
			margin: 0;
		}
	}	
}

.navbar a {
	color: white; 
	font-family: $font__main;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: 300;
	letter-spacing: 1px;
    border: 0;
}

.dropdown-menu {
	background-color: $color__off-white;
	border-radius: 0;
	font-size: .9em;
    /*@media all and (max-width: 1200px) {
        background-color: black;
		background-image: none;
    }*/
	a {	
		color: $color__dark-blue;
	}
}

.dropdown-toggle {
	&:after {
		font-family: $font__icons;
		display: inline !important;
		margin-left: .25em;
		vertical-align: 0;
		content: "\f107" !important;
		background: transparent;
		border: 0 !important;
		font-weight:200;
	}	
}

.dropdown-item {
	&:hover, &:focus, &:active {
		background-color: $color__gold;
		color: $color__dark-blue !important;
	}
}

.buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	margin: auto 1em;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing:0;
	text-wrap:nowrap;
    @media all and (max-width: 1200px) {
		flex-wrap: wrap;
		.btn {
			margin-bottom: .5em;
		}
    }
}

/* OFFCANVAS X */
.offcanvas {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    	
	
    @media all and (max-width: 1200px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
		background-image:url("img/ws-website-graphics_curtain.svg"); 
		background-repeat:repeat;
		background-size: 500px auto;
		background-color: $color__lime-green;   
    }
}

.offcanvas-backdrop.show {
    opacity: 0.7;
}

.offcanvas-start {
	width: 300px;
	.btn-close {display: none;}
	@media all and (max-width: 1200px) {
		.dropdown-menu li {
			margin: .5em 0;
		}
		.btn-close {
			display: block; 
			margin: 2em 1em 2em auto;
			background-size: 2em 2em;
			border: none;
			background: transparent;
			background-image: none;
			color: white; 
			opacity: 1;
			&:focus {
				-webkit-box-shadow: none;
				        box-shadow: none;
			}
			.icon-bar {
				 width: 35px;
				 display: block;
				 height: 2px;
				 background-color: #fff;	
			}
			.icon-bar.left {
				position: absolute;
				 -webkit-transform: rotate(45deg);
				 -ms-transform: rotate(45deg);
				 transform: rotate(45deg);	
			}
			.icon-bar.right {
				position: absolute;
				-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}				
		}
	}
}

/* ANIMATED X */
.navbar-toggler.x {
	border: none;
	background: transparent;
	margin-bottom: 3em;
	&:focus, &:active {
		outline: none;
		border: 0;
		background: transparent;
		-webkit-box-shadow: none;
		        box-shadow: none;
	}
    @media all and (max-width: 1200px) {
        margin-left: auto;
    }
}
button.navbar-toggler {-webkit-box-shadow: none;box-shadow: none;}
.navbar-toggler.x[aria-expanded=true] .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}
.navbar-toggler.x[aria-expanded=true] .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler.x[aria-expanded=true] .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}
.navbar-toggler.x .icon-bar {
  width: 35px;
  display: block;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.navbar-toggler.x .icon-bar + .icon-bar {
  margin-top: 8px;
}
.navbar-toggler.x .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.navbar-toggler.x .icon-bar:nth-of-type(2) {
    width: 22px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.x .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}


// ------------------------- OTHER NAVIGATION
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}